* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #2b2b3c;
    color: white;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
  }
  
  .logo {
    max-width: 350px;
  }
  
  nav ul {
    list-style-type: none;
    padding-top: 10px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  
  main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .media-section {
    text-align: center;
    max-width: 800px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .video-container {
    margin-bottom: 100px;
    justify-content: center;
    align-items: center; 
  }
  
  .video-description {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  @media screen and (max-width: 768px) {
    .video-container iframe {
        width: 100%;
        height: auto;
    }
  }